@font-face {
  font-family: "Neue Regrade Extrabold";
  src:
    local("Neue_Regrade_Extrabold"),
    url("../../../assets/fonts/Neue_Regrade_Extrabold.otf") format("opentype"),
}


.container {
  text-align: center;
  max-width: 700px;
  margin: auto; 
  height: 30rem;
}

.heading {
  color: rgb(0, 63, 152);
  font-size: 60px; 
  font-weight: 800;
  font-family: "Neue Regrade Extrabold", serif;
}

.heading_text {
  color: #3f4553;
  font-size: 20px;
}

@media screen and (max-width: 780px){
  .heading {
    font-size: 32px; 
  }
  .container {
    padding: 5%;
  }
  .heading_text {
    font-size: 12px;
    line-height: 16.2px;
  }
}



