
.login-container {
    display: flex;
    height: 100vh;
    background-color: white; 
  }
  
  .login-box {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .login-logo img {
    width: 150px; 
    margin-left: 40px;
  }
  
  .login-form {
    margin-top: 10%;
    margin-left: 25%;
  }
  
  .sign-in h2{
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: #000 !important;
    font-size: 30px !important;
    font-weight: 500 !important;
  }
  
.

  .login-form h2 {
    margin: 0 0 20px 0;
    color: #000;
    
  }
  
  .login-form p {
    margin: 0 0 20px 0;
    font-size: 14px; 
    color: #000;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
  }
  
  .input-group input {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  
  .input-group input:focus {
    border-bottom: 2px solid #002147;
  }
 
  .options {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #ccc;
  }
  
  .options label {
    display: flex;
    align-items: center;
  }
  
  .options label span {
    margin-left: 5px; 
  }
  
  .options a {
    color: #ccc;
    font-size: 14px; 
    text-decoration: none;
    margin-top: 10px; 
  }
  
  .options a:hover {
    text-decoration: underline;
    
  }
  
  .login-button {
    width: 60%; 
    padding: 15px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
    margin-right: 250px; 
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .login-image {
    width: 50%;
    background-color: #000842; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0; 
    box-sizing: border-box;
    height: 95%; 
    margin: auto 0; 
    border-radius: 30px;
  }
  .dash-img{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .sign-text h2 {
    position: absolute;
    bottom: 200px;
    right: 10%;
    align-items: center;
    margin-bottom: auto;
    font-size: 40px !important;
    margin: 0;
    color: #fff;
  }
  