.footer{
    background-color: #fed4e4;
    text-align: center;
    font-family: 'Satoshi', sans-serif !important;
}
.email{
    font-size: 1.5em;
    font-family: 'Satoshi', sans-serif !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon:hover{
    transform: scale(1.5);
    transition: transform 0.3s ease-out;
}
.emailcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px){
    .email{
        font-size: 1em;
    }
    .footer{
        font-size: 1em;
    }
  
}
  