@keyframes bounceExpand {
  0% {
    width: 100px;
  }
  70% {
    width: 300px;
  }
  100% {
    width: 256px;
  }
}

@keyframes bounceCollapse {
  0% {
    width: 256px;
  }
  /* 60% {
    width: 80px;
  }
  80% {
    width: 100px;
  } */
  70% {
    width: 90px;
  }
  100% {
    width: 100px;
  }
}

.navbar-analytics-container{
  background-color: #fff;
}

.sidebar {
  width: 256px;
  background-color: #faf7f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.5s ease;
  height: 100vh;
}

.sidebar.collapsed {
  width: 100px;
  animation: bounceCollapse 0.5s ease forwards;
}

.sidebar.expanded {
  width: 256px;
  animation: bounceExpand 0.7s ease forwards;
}

.sidebar:hover {
  animation: bounceExpand 0.7s ease forwards;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin-bottom: 5px;
  margin-top: 40px;
}

.logo {
  width: auto;
  transition: none;
}

.sidebar .menu,
.sidebar .menu-bottom {
  padding: 50px 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.sidebar .menu {
  margin-top: 0;
}

.sidebar .menu-bottom {
  margin-top: auto;
  padding-top: 10px;
}

.sidebar .menu-item,
.sidebar .menu-bottom .menu-item {
  padding: 0 20px;
}

.sidebar .menu-link,
.sidebar .menu-bottom .menu-link {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 0.3s ease;
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
  align-items: center;
  justify-items: center;
  transform: translateX(20px);
}

.menu-icon.large {
  font-size: 32px;
}

.menu-text {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-text.hidden {
  opacity: 0;
  transform: translateX(-20px);
}

.border-nav {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin: 10px 20px;
}
