body {
    font-family: "Neue Regrade Extrabold"!important;
    background-color: #ffff;
  }
  
  .sidebar {
    height: 100vh;
    width: 256px;
    background-color: #faf7f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    
  }
  
  .sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px; 
    /* border-bottom: 1px solid #e0e0e0;  */
    margin-bottom: 5px; 
    margin-top: 40px;
    width: 180px;
  }
  
  .sidebar .menu,
  .sidebar .menu-bottom {
    padding: 50px 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .sidebar .menu {
    margin-top: 0; 
  }
  
  .sidebar .menu-bottom {
    margin-top: auto; 
    padding-top: 10px; 
    /* border-top: 1px solid #e0e0e0;  */
  }
  
  .sidebar .menu li,
  .sidebar .menu-bottom li {
    padding: 0 20px;
  }
  
  .sidebar .menu li a,
  .sidebar .menu-bottom li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .border-nav {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 20px;
  }
  