@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Satoshi', sans-serif;
  background-color: rgb(250, 247, 240);
}
html::-webkit-scrollbar {
  display: none;
}
html { scroll-behavior: smooth; }

/* Hide scrollbar for IE, Edge and Firefox */
html {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

p{
  font-family: 'Satoshi', sans-serif;
}


